<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <h1>Input your Message below </h1>
        <div id="app">
            <p>{{ message }}</p>
         <input type="email" v-model="message"/>
         </div>
         <div id="app2">
                <p>{{ message }}</p>
         <input type="password" v-model="message"/>
        </div>
        <script src="index2.js"></script>
        <script src="index.js"></script>
    </body>
</html>