@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
body {
  left: 0;
  right: 0;
}
/*setting up fonts, and stylising the navbar */
h2 {
  font-family: Montserrat;
}

p {
  font-family: arial;
}

nav {
  border-bottom: 1px solid #ccc;
  position: fixed;
  background: #fff;
  width: 100%;
  top: 0;
  z-index: 999;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .brand {
  width: 30%;
}

nav .brand img {
  width: 200px;
}

nav .nav-menu {
  width: 70%;
  color: #000;
  text-align: right;
  font-family: Montserrat;
}

nav .nav-menu li {
  display: inline-block;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 800;
  margin: 5px 10px;
  font-size: 15px;
  cursor: pointer;
}

nav .nav-menu li label {
  cursor: pointer;
}

nav .nav-menu li a {
  text-decoration: none;
  color: #000;
}

nav .nav-menu .show {
  right: 26px;
  -webkit-transition: .3s;
  transition: .3s;
}

nav .nav-menu .hide {
  right: -325px;
  -webkit-transition: .3s;
  transition: .3s;
}

nav .nav-menu .sidebar {
  position: absolute;
  z-index: 9999;
  background: white;
  margin-top: 32px;
  text-align: left;
  width: 315px;
}

nav .nav-menu .sidebar .user-info {
  padding: 11px;
  font-size: 13px;
  line-height: 10px;
  border-bottom: 1px solid #ccc;
}

nav .nav-menu .sidebar ul {
  padding-left: 0px;
}

nav .nav-menu .sidebar ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

nav .nav-menu .sidebar ul li a {
  text-decoration: none;
  color: #000 !important;
}

nav .nav-menu .sidebar ul :last-child {
  border-bottom: 0px;
  color: red;
}

nav .nav-menu .sidebar ul :last-child i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 10px;
}
/*banner, and content in container */
.container {
  width: 80%;
  margin: 0px auto;
}

.banner {
  background-image: url("./images/Background1.png");
  background-position: 100% 100%;
  position: relative;
}

.banner .text {
  padding: 150px;
  width: 60%;
  margin: 0px auto;
}

.banner .text h2 {
  text-align: center;
  font-size: 27px;
  color: #fff;
}

.banner .text p {
  text-align: center;
  font-weight: 500;
  color: #fff;
}

.service-secition {
  padding: 50px;
  background-color: #97C091;
}

.service-secition .title {
  text-align: center;
}

.service-secition .title h2 {
  font-size: 24px;
  color: #fff;
}

.service-secition .title p {
  text-align: center;
  margin-top: -12px;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
}

.service-secition .services {
  width: 70%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.service-secition .services .service {
  width: 32%;
}

.service-secition .services .service img {
  width: 100%;
  height: 175px;
}

.service-secition .services .service .text {
  text-align: center;
}

.service-secition .services .service .text h4 {
  font-family: Georgia;
  font-size: 15px;
  margin: 10px 0px 5px 0px;
  color: #fff;
}

.service-secition .services .service .text p {
  font-size: 14px;
}

.service-secition .services :nth-child(1) {
  margin-right: 2%;
}

.service-secition .services :nth-child(2) {
  margin-right: 2%;
}

.about-us-section {
  padding: 50px;
  background-color: #343434;
}

.about-us-section .main-card {
  width: 70%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us-section .main-card .about-us-card {
  width: 50%;
  color: #fff;
}

.about-us-section .main-card .register-login {
  text-align: center;
  width: 50%;
  background-color: #209287;
  padding: 50px 20px;
  color: #fff;
  font-family: Montserrat;
}

.about-us-section .main-card .register-login button {
  background-color: #97C091;
  color: #fff;
  border: 0px;
  padding: 20px 80px;
  cursor: pointer;
}

.mapouter {
  width: 70%;
  margin: 20px auto;
  position: relative;
  text-align: right;
  height: 300px;
  width: 786px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 100%;
  margin: 0px auto;
}

.safety {
  background-color: #97C091;
}

.safety .main-card {
  width: 60%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.safety .main-card .sub-card {
  width: 50%;
}

.safety .main-card .sub-card img {
  width: 280px;
}

.safety .main-card .sub-card h2 {
  text-align: center;
  color: #fff;
  padding: 15px;
}

.contact-section {
  background-color: #209287;
  padding: 30px;
}

.contact-section .main-card {
  width: 70%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-section .main-card .text {
  color: white;
  padding: 10px;
  width: 50%;
}

.contact-section .main-card .text h6 {
  font-size: 14px;
  font-family: arial;
}

.contact-section .main-card .form {
  padding: 42px 30px;
  width: 50%;
}

.contact-section .main-card .form form {
  padding: 0px 33px;
}

.contact-section .main-card .form input,
.contact-section .main-card .form textarea {
  width: 100%;
  margin-bottom: 20px;
  border: 0px;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  font-size: 14px;
  padding: 5px 4px;
  color: #fff;
}

.contact-section .main-card .form :focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: transparent;
}

.contact-section .main-card .form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
  font-family: arial;
}

.contact-section .main-card .form button {
  background: transparent;
  border: 1px solid #DADD2C;
  padding: 8px 28px;
  border-radius: 20px;
  color: #DADD2C;
  cursor: pointer;
}

.contact-section .main-card .form .icon {
  padding-left: 23px !important;
  padding-top: 15px;
}

.contact-section .main-card .form .icon li {
  display: inline-block;
  padding: 4px 10px;
}

.contact-section .main-card .form .icon li i {
  color: #DADD2C;
}
/* footer section*/
footer {
  background-color: #171717;
}

footer .main-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  text-align: center;
  margin: 0px auto;
}

footer .main-card img {
  width: 161px;
  height: 70px;
  margin-top: 9px;
}

footer .main-card p {
  color: white;
}

footer .main-card ul li {
  list-style: none;
  display: inline-block;
  margin-right: 16px;
  border-bottom: 2px solid #ccc;
  font-family: arial;
}

footer .main-card ul li a {
  text-decoration: none;
  color: white;
}
/* login/registrer page*/
.login {
  text-align: center;
  font-family: Montserrat;
}

.login .login-card {
  width: 300px;
  margin: 88px auto;
}

.login button {
  width: 100%;
  background: transparent;
  border: 1px solid blue;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.login form input[type="text"],
.login form input[type="email"],
.login form input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  width: 92%;
}

.login form select {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.login form input[type="checkbox"] {
  margin-bottom: 10px;
}

.login form button {
  width: 50%;
}

.login form p {
  text-align: center;
  margin-top: -7px;
}

.login form p a {
  text-decoration: none;
  font-size: 13px;
}

.login .regiter-link {
  margin-top: 0px;
  font-weight: 700;
}
/*animations */
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 13px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 13px;
}

.alert-warning {
  color: #856404;
  background-color: #ffeeba;
  border-color: #ffeeba;
  padding: 13px;
}

.shake {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}
